.App {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Arrange items vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Make the container take up the full height of the viewport */
  margin: 0; /* Remove any default margin */
  text-align: center; /* Center all the text */
  font-family: "Comic Sans MS", "Comic Sans", cursive; /* Optional: Set font */
}

button {
  background-color: #ff69b4; /* Pink color */
  border: none;
  color: white;
  padding: 1rem 2rem;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-top: 1rem; /* Add spacing between text and button */
  padding: 10px;
  margin: 10px;
}

button:hover {
  background-color: #ff1493; /* Darker pink on hover */
}

p {
  font-size: 1.5rem; /* Set the font size for the paragraph */
  margin-bottom: 1rem; /* Space below the paragraph */
}

h1 {
  font-size: 2rem; /* Set the font size for the title */
  margin-bottom: 1rem; /* Space below the title */
  user-select: none; /* Prevent text from being highlighted */
}

.floating-cat {
  position: absolute;
  font-size: 30px;
  animation: fadeOut 1.1s, jumpAndFall 1.1s;
  pointer-events: none;
}

@keyframes jumpAndFall {
  0% {
    scale: 0.2;
    transform: translateY(0) rotate(-40deg);
    animation-timing-function: ease-out;
  }
  30% {
    transform: translateY(-100px) rotate(0deg);
    animation-timing-function: ease-in;
  }

  100% {
    scale: 0.4;
    transform: translateY(500px) rotate(70deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
}

.tooltip-text {
  position: fixed;
  pointer-events: none;
  opacity: 0.75;
  padding: 6px;
  background-color: #333;
  color: #fff;
  max-width: 200px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}
